/html
/tools/wppwd
/mail
/public
# TeX/LaTeX intermediates # 
########################### 
*.*~ 
*.4ct 
*.4tc 
*.auto 
*.aux 
*.bbl 
*.bcf 
*.blg 
*.dvi 
*.fls
*.glo 
*.synctex.gz
*.idv 
*.idx 
*.ilg 
*.ind 
*.lb
*.lg 
*.loc
*.log 
*.out 
*.pdx 
*.pnd 
*.run.xml
*.soc
*.tcp 
*.tmp 
*.toc 
*.tps 
*.xmpi 
*.xref 
*blx.bib 
progit
tools
.vscode
